@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset para que w-full funcione correctamente */
html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    color: white;
    background-color: black;
    overflow-x: hidden;
}

@font-face {
    font-family: 'DirtyGrungeFiesta';
    src: url('/fonts/DirtyGrungeFiesta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}